<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Дорогой <%= @ticket.user.name %> !<br>
Ты зарезервировал билет на квест <%= @ticket.quest_item.name %><br>
Начало <%= l(@ticket.dt.to_datetime, :format => "%d %B %A %H:%M") %><br>
Оплатить его можно тут <%= @signin %>
Резерв продержится <%= @reserve_time %> минут.
</body>
</html>
