<div class="auth-block content-z-top col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
  <h1>Регистрация и оплата</h1>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 signin-block">
  <%= render :partial => 'shared/signin' %>
  <%= render :partial => 'shared/generate_new_password', :locals => {:uid => local_assigns.fetch(:uid)} if local_assigns.has_key? :uid %>
  <p id="notice"><%= notice %></p>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 payment-block">
  <%= render :partial => 'shared/registration' %>
</div>

<% if @ticket %>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selected-block">
      <div class="col-lg-6">
        Вами выбран билет на:
        <h2>Квест <%= @ticket.quest_item.name %></h2>
      </div>
      <div class="col-lg-6">
        <p>Начало квеста: <%= l(@ticket.dt.to_datetime, :format => "%A %d %B %H:%M") %></p>
        <p>Цена: <%= @ticket.price %> руб.</p>
      </div>
    </div>
<% end %>

</div>