<li>
  <%= link_to 'Купленные/Зарезервированные сеансы', admin_main_index_path %>
</li>
<li>
  <%= link_to 'Зарегестрированные пользователи', admin_main_users_show_path %>
</li>
<li>
  <%= link_to 'Админить квесты', admin_quest_items_path %>
</li>
<li>
  <%= link_to 'Настроить цены на билеты', admin_price_presets_path %>
</li>
<li>
  <%= link_to 'Изменить цену/статус выпущенных билетов(акции)', admin_manage_tickets_price_url %>
</li>
<li>
  <%= link_to 'Создать новый квест', new_admin_quest_item_path %>
</li>
<li>
  <%= link_to 'Фотки в Галлерею Победителей', admin_picturesofwinners_path %>
</li>