<div class="winners-images col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h2>Победители</h2>

<% @picturesofwinners.each do |record| %>

    <!--можешь ставить :thumb    => ['200x200#',  :jpg, :quality => 66],
    :preview  => ['480x480#',  :jpg, :quality => 88],
    :large    => ['600>',      :jpg, :quality => 88],
    :retina   => ['1200>',     :jpg, :quality => 100-->

    <div class="winner-img">
    <a href="<%= record.photourl.url(:large) %>" rel="lightbox" title="
      <%= record.quest_item.name %>
      <%= record.goaldate %>
      <%= record.besttime.strftime("%H:%M") %>
    ">
      <img src="<%= record.photourl.url(:thumb) %>">
      <p>
          <%= record.quest_item.name %>
          <%= record.goaldate %>
          <%= record.besttime.strftime("%H:%M") %>
      </p>
    </a>
    </div>

<% end  %>

</div>