<h1>
Личные данные
</h1>

<% flash.each do |name, msg| -%>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <%= content_tag :div, msg, class: name %>
    </div>
<% end -%>

<%= form_tag('user_upd', method: :post) do %>
<div class="row">

    <script type="text/javascript">
      jQuery(function($){
          $("#phone").mask("+7 (999) 999-9999");
      });
    </script>

    <div class="field col-lg-3">
    Ваше Имя Фамилия <%= text_field_tag :name, @user.name, class: "form-control" %>
    </div>
    <div class="field col-lg-3">
    Ваша почта <div class="user-mail-info"><%= @user.email %></div>
    </div>
    <div class="field col-lg-3">
    Ваш телефон <%= text_field_tag :phone, @user.phone, type: "text", class: "form-control", id: "phone", placeholder: "Ваш телефон" %>
    </div>
    <div class="field col-lg-3">
    Пароль <%= text_field_tag :password, nil, class: "form-control" %>
    </div>
  <div class="actions col-lg-12">
    <%= submit_tag "Изменить личные данные", class: "btn btn-success" %>
  </div>
</div>
<% end %>